.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0 4em;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
