body {
  margin: 0;
  font-size: 16px;
  line-height: 1.35em;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.35em;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
}

input {
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.15em;
}
