body {
  margin: 0;
  font-size: 18px;
  line-height: 1.35em;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.35em;
}
